/* Utility */

.done {
    color: #c4c4c4;
    text-decoration-line: line-through;
    /* background: olivedrab; */
}

.deleted {
    display: none;
}

/* End Utility */

body {
    font-family: tahoma;
    color: #282828;
    margin: 0px;
}

#header {
    text-align: center;

}

#search-todo {
    margin-left: 30px;
    padding: 5px;
    border-radius: 5px;
}

/* enter-todo */

#app #enter-todo {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}
#app #enter-todo #todo, #app #enter-todo #todo-body, #app #enter-todo #todo-btn {
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;

}

/* todo-element */
#app .todo-element {
    width: 400px;
    margin: 30px;
    /* border-bottom: grey solid 1px; */
}

#app .todo-element .todo-body {
    padding: 0.5rem;
    font-size: smaller;
    cursor: pointer;
    border-left: solid lightgrey 0.01rem;
}

/* buttons */
#btn-done {
    background: limegreen;
    cursor: pointer;
}


#btn-delete-todo-elem {
    background: rgb(238, 180, 165);
    cursor: pointer;

}
